@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
html {
  scroll-behavior: smooth;
}

.leftBorder, .rightBorder {
  background-image: url(./assets/borderX.svg);
  background-repeat: repeat-y;
  background-size: 3px;
}

.topBorder {
  background-image: url(./assets/borderY.svg);
  background-repeat: repeat-x;
}

.corners {
  background-image: url(./assets/corners.svg);
  background-repeat: no-repeat;
}

.topcorners {
  background-image: url(./assets/cornersHalf.svg);
  background-repeat: no-repeat;
}

body.no-scroll {
  overflow: hidden;
}
=======
.border_div {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23E6E6E6FF' stroke-width='4' stroke-dasharray='6%2c 10' stroke-dashoffset='35' stroke-linecap='square'/%3e%3c/svg%3e");
}
>>>>>>> 235cc97164459019d0d3f477b58c790eb44dca78
